<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Card</title>
</head>
<body>
<div class="card-grid"> 
    <div class="card"> 
        <h3>{{ name() }}</h3> 
        <p>Badge: {{ badge() }}</p> 
        <p>Age: {{ age() }}</p> 
        <p>Team: {{ team() }}</p> 
        <p>Location: {{ location() }}</p> 
        <p>Description: {{ description() }}</p> 
        <button (click)="markPresent()">Dialogue</button> 
    </div>
    </div>
</body>
</html>