<p>Welcome!</p>
<h1>Here are the lists of Leaders</h1>
<h2>Johto</h2>
<div class="card-grid">
        @for(leader of leadersjohto; track leader.name){
        <div class="card">
            <app-home-info
            [name] = "leader.name"
            />  
        </div>
      }
    </div>
<h2>Kanto</h2>
<div class="card-grid">
        @for(leader of leaderskanto; track leader.name){
        <div class="card">
            <app-home-info
            [name] = "leader.name"
            />  
        </div>
      }
    </div>